*{
    box-sizing: border-box;   
}

body {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
}

.sidebar {
    grid-row: 1 / 3;
    grid-column: 1;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 15px;
    background-color: #0074D9;
}

.sidebar div {
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
}

.sidebar div ul {
    list-style-type: none;
}

.sidebar-link {
    padding-bottom: 20px;
    display: flex;
    padding: 0 0 20px 7px;
}

.main-link {
    padding: 0 0 20px 0;
    font-size: 24px;
}

.sidebar-link:hover {
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.05);
}

.header {
    grid-row: 1;
    grid-column: 2 / 3;
    background-color: white;
    font-family: sans-serif;

    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    gap: 20px;
}

.header-item {
    padding-left: 40px;
}

.header-item:nth-child(even) {
    padding-right: 40px;
}

#search-bar {
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    display: flex;
    align-items: center;
}

#search-bar form {
    padding-left: 10px;
}

#user-area {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
}

#user-area > div {
    padding-left: 20px;
}

#welcome-banner {
    display: flex;
    align-items: center;
}

.greeting {
    display: flex;
    flex-direction: column;
}

.greeting > h2 {
    margin: 0;
}

.greeting > h1 {
    margin: 0;
}

#header-buttons {
    display: flex;
    justify-content: end;
    align-items: flex-start;
}

#header-buttons > button {
    margin-left: 20px;
}

.main-content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}